<section class="content">
    <div style="display: flex; justify-content: space-between;">
        <h3>Klasse</h3>
        <p>{{adonisStore.selectedClass()!.displayNames.de}} ({{adonisStore.selectedClass()!.metaName}})</p>
        <h3>Repository</h3>
        <p>{{adonisImportStore.selectedRepository()!.name}}</p>
        <h3>Objektgruppe</h3>
        <p>
            {{adonisImportStore.selectedObjectGroup()!.name}}
        </p>
    </div>

    @if (!adonisImportStore.advancedTestingStarted()) {
      @if (tableStore.rowNumbers().length === 0) {
        <section>
          Wenn Sie eine Tabelle aus einer anderen Anwendung in die Zwischenablage kopiert haben, können Sie sie hier mit Strg+V einfügen.
        </section>
      } @else {
        <section>
          Ersetzen Sie alle Daten hier mit Strg+V.
        </section>
      }
      <section>
        Sie können die Spaltenköpfe verschieben, um die Anordnung der Spalten zu verändern, so dass die Zielkonfiguration mit den Ausgangsdaten übereinstimmt.
      </section>
      @if (tableStore.contentsAreTested() === true) {
        <section class="button-container">
          <p>
            Die Datentypen stimmen. Sie können jetzt in Ihrer ADONIS-Instanz prüfen, ob die Daten importiert werden können.
          </p>
          <button type="button" (click)="onStartAdvancedTesting()">Backend-Tests starten</button>
        </section>
      }
    }
    <table class="table">
      <thead>
        <tr>
          <th style="padding:0;"></th>
          <th style="padding:0;">#</th>
          @for (column of tableStore.columnMapping(); track column; let i = $index) {
            <th
              draggable="true"
              (dragstart)="onDragStart($event, i)"
              (dragend)="onDragEnd()"
              (dragover)="onDragOver($event, i)"
              (drop)="onDrop(i)"
              [ngClass]="{dragging: sourceIndex === i, target: presumedTargetIndex === i, left: (presumedTargetIndex === i && sourceIndex! > presumedTargetIndex), primary: getColumn(column)?.primary}"
              [attr.title]="getColumnTitle(column)"
              class="position-relative">
              {{getColumn(column)?.displayName}}
              @if (getColumn(column)?.primary === true) {
                <span class="visually-hidden">
                    Spalte hält den Primärschlüssel der Tabelle.
                </span>
              }
              @if (getColumn(column)?.unique === true) {
                <span class="visually-hidden">
                  Diese Tabelle muss eindeutige Werte enthalten.
                </span>
              }
            </th>
          }
        </tr>
      </thead>
      <tbody>
        @for (rowNumber of tableStore.rowNumbers(); track rowNumber) {
          <tr [ngClass]="{'position-relative': getRowContainsErrors(rowNumber) === true}">
            <td [attr.title]="getRowErrorDescriptions(rowNumber)">
              @if (getRowContainsErrors(rowNumber) === true) {
                <app-error-badge [errorDescription]="getRowErrorDescriptions(rowNumber)"></app-error-badge>
              } @else {
                @if (this.adonisImportStore.rowsWithExistingItems().includes(rowNumber) === true) {
                  <span class="edit">&#10000;</span>
                  <span class="visually-hidden">Objekt mit diesem Namen gefunden. Objekt wird geändert.</span>
                } @else {
                  <span class="new">+</span>
                  <span class="visually-hidden">Objekt wird neu erstellt.</span>
                }
              }
            </td>
            <td class="align-right">
              {{rowNumber}}
            </td>
            @for (column of tableStore.columnMapping(); track column; let i = $index) {
              <td
                [ngClass]="{error: getCellInformation(rowNumber, i)?.containsErrors || getCellContainsRowErrors(rowNumber, i) }"
                [attr.title]="getCellErrorMessages(rowNumber, i)()">
                {{getCellInformation(rowNumber, i)?.typedValue}}
              </td>
            }
          </tr>
        }
      </tbody>
    </table>

</section>