@if ((importedRows | async) !== undefined) {
  <section class="success">
    {{importedRows | async}} Zeilen erfolgreich importiert.
  </section>
}
@if ((rowCount | async) === 0) {
  <section>
    Wenn Sie eine Tabelle aus einer anderen Anwendung in die Zwischenablage kopiert haben können Sie sie hier mit Strg+V einfügen.
  </section>
} @else {
  <section>
    Ersetzen Sie alle Daten hier mit Strg+V.
  </section>
}
<section>
  Sie können die Spaltenköpfe verschieben, um die Anordnung der Spalten zu verändern, so dass die Zielkonfiguration mit den Ausgangsdaten übereinstimmt.
</section>
@if ((canImport | async) === true) {
  <section class="button-container">
    <button type="button" (click)="onImport()">Starte Import</button>
  </section>
}
<table class="table">
  <thead>
    <tr>
      <th style="padding:0;"></th>
      <th style="padding:0;">#</th>
      @for (column of (columnMappings | async); track column; let i = $index) {
        <th
          draggable="true"
          (dragstart)="onDragStart($event, i)"
          (dragend)="onDragEnd()"
          (dragover)="onDragOver($event, i)"
          (drop)="onDrop(i)"
          [ngClass]="{dragging: sourceIndex === i, target: presumedTargetIndex === i, left: (presumedTargetIndex === i && sourceIndex! > presumedTargetIndex), primary: (getColumn(column) | async)?.primary, foreign: (getColumn(column) | async)?.relation}"
          [attr.title]="getColumnTitle(column) | async"
          class="position-relative">
          {{(getColumn(column) | async)?.displayName}}
          @if ((getColumn(column) | async)?.primary === true) {
            <span class="visually-hidden">
                Spalte hält den Primärschlüssel der Tabelle.
            </span>
          }
          @if ((getColumn(column) | async)?.relation === true) {
            <span class="visually-hidden">
              Diese Spalte enthält Fremdschlüssel für eine andere Tabelle.
            </span>
          }
          @if ((getColumn(column) | async)?.unique === true) {
            <span class="visually-hidden">
              Diese Tabelle muss eindeutige Werte enthalten.
            </span>
          }
        </th>
      }
    </tr>
  </thead>
  <tbody>
    @for (rowNumber of (rowNumbers | async); track rowNumber) {
      <tr [ngClass]="{'position-relative': (getRowContainsErrors(rowNumber) | async) === true}">
        <td [attr.title]="getRowErrorDescriptions(rowNumber) | async">
          @if ((getRowContainsErrors(rowNumber) | async) === true) {
            <app-error-badge [errorDescription]="getRowErrorDescriptions(rowNumber) | async"></app-error-badge>
          } @else {
            @if ((nameExists(rowNumber) | async)) {
              <span class="edit">&#10000;</span>
              <span class="visually-hidden">Objekt mit diesem Namen gefunden. Objekt wird geändert.</span>
            } @else {
              <span class="new">+</span>
              <span class="visually-hidden">Objekt wird neu erstellt.</span>
            }
          }
        </td>
        <td class="align-right">
          {{rowNumber}}
        </td>
        @for (column of (columnMappings | async); track column; let i = $index) {
          <td
            [ngClass]="{error: (getCellInformation(rowNumber, i) | async)?.containsErrors || (getCellContainsRowErrors(rowNumber, i) | async)}"
            [attr.title]="(getCellErrorMessages(rowNumber, i) | async)">
            {{(getCellInformation(rowNumber, i) | async)?.typedValue}}
          </td>
        }
      </tr>
    }
  </tbody>
</table>

