<section class="content">
    <h2>Klasse zum Importieren auswählen</h2>
    <section class="buttonlist">
        @for (c of store.sortedClasses(); track c.id) {
            <p>
                <button
                    [title]="c.infoText ? c.infoText.de : ''"
                    (click)="store.selectClass(c)"
                    class="content-button"
                    [disabled]="appState.notebooksReady() === false"
                >
                    <h4>
                        {{c.displayNames.de}}
                    </h4>
                    <p>
                        ({{ c.metaName }})
                    </p>
                    @if (c.infoText) {
                        <p>
                            {{c.infoText.de}}
                        </p>
                    }
                </button>
            </p>
        }
    </section>
</section>
