<article>
    <router-outlet></router-outlet>
</article>

@if ((working | async) === true)
{
    <span class="loader"></span>
    <span class="visually-hidden">
        Derzeit werden Daten nachgeladen. Bitte haben Sie ein wenig Geduld.
    </span>
    <div style="position: fixed; top: 0px; left: 0px;">
        <span class="indicator" [ngClass]="{yellow: (classesState | async) === 1, green: (classesState | async) === 2, red: (classesState | async) === 3}">C</span>
        <span class="indicator" [ngClass]="{yellow: (notebookState | async) === 1, green: (notebookState | async) === 2, red: (notebookState | async) === 3}">N</span>
        <span class="indicator" [ngClass]="{yellow: (attributesState | async) === 1, green: (attributesState | async) === 2, red: (attributesState | async) === 3}">A</span>
        <span class="indicator" [ngClass]="{yellow: (repositoryState | async) === 1, green: (repositoryState | async) === 2, red: (repositoryState | async) === 3}">R</span>
        <span class="indicator" [ngClass]="{yellow: (objectGroupsState | async) === 1, green: (objectGroupsState | async) === 2, red: (objectGroupsState | async) === 3}">O</span>
    </div>
}

@if ((errorPresent | async) === true) {
    <section class="error">
        {{errorMessage | async}}
    </section>
}
