<div class="content buttonlist">
    @for (c of classes(); track c.id) {
        <p>
            <button
                [title]="c.infoText ? c.infoText.de : ''"
                (click)="selectButton_click(c)"
                [ngClass]="{selected: c.id === selectedClassId}"
                [disabled]="notebooksReady() === false"
            >
                <h4>
                    {{c.displayNames.de}}
                </h4>
                <p>
                     ({{ c.metaName }})
                </p>
                @if (c.infoText) {
                    <p>
                        {{c.infoText.de}}
                    </p>
                }
            </button>
        </p>
    }
</div>

