<section class="content">
    <h2>Direkter Import nach ADONIS</h2>
    @if (!(selectedRepository | async)) {
        <p>
            Sie wollen direkt nach ADONIS importieren. Ihr Benutzerkonto hat Zugriff auf mehr als ein Repository.
            Bitte wählen Sie aus, in welches der unten aufgeführten Repositories Sie importieren möchten
        </p>
        <p>
            <label for="reposelect">Repository zum Importieren:</label>
            <select id="reposelect" name="reposelect" #reposelect>
                @for (repo of (repositories | async); track repo.name) {
                    <option [value]="repo.id">{{repo.name}}</option>
                }
            </select>
            <button (click)="chooseRepository(reposelect.value)">Auswählen</button>
        </p>
    } @else {
        <h3>Repository</h3>
        <p>{{(selectedRepository | async)?.name}}</p>
    }
    @if (!!(objectGroups | async) && !(selectedObjectGroup | async)) {
        <h3>Objektgruppe auswählen</h3>
        <p>Bitte wählen Sie die Objektgruppe für den Import aus:</p>
        <p>
            {{(objectGroups | async)?.name}}
        </p>
        <app-choose-objectgroup [objectGroups]="(objectGroups | async)!.subgroups" [top]="true"></app-choose-objectgroup>
    }
    @if ((selectedObjectGroup | async)) {
        <h3>Objektgruppe</h3>
        <p>
            {{(selectedObjectGroup | async)!.name}}
        </p>
    }
</section>