<ng-container [formGroup]="formGroup()">
    @for (child of children(); track child.id) {
        @switch (child.type) {
            @case ('GROUP') {
                @if (nodeChildren(child).length > 0) {
                    <li class="group">
                        <h4>Gruppe: {{child.displayNames.de}}</h4>
                        <ul>
                            @for (grandchild of nodeChildren(child); track grandchild.id) {
                                @switch (grandchild.type) {
                                    @case (ATTRDEF) {
                                        @if (controlExists(grandchild.id)) {
                                            <li>
                                                <input type="checkbox" [id]="grandchild.metaName" [name]="grandchild.metaName" [formControlName]="grandchild.id">
                                                Attribut: {{grandchild.displayNames.de}} ({{ grandchild.metaName }}: {{grandchild.ctrlType}})
                                            </li>
                                        }
                                    }
                                    @case (RELATIONS) {
                                        <li>
                                            <input type="checkbox" [id]="grandchild.metaName" [name]="grandchild.metaName" [formControlName]="grandchild.id" (change)="relationsChange(grandchild.id)">
                                            Beziehung: {{grandchild.displayNames.de}} ({{ grandchild.metaName }})
                                            @if (controlIsSelected(grandchild.id)) {
                                                <app-child-relation [child]="relation(grandchild)" [formGroup]="getChildFormGroup(grandchild.id)"></app-child-relation>
                                            }
                                        </li>
                                    }
                                }
                            }
                        </ul>
                    </li>
                }
            }
            @case (ATTRDEF) {
                @if (controlExists(child.id)) {
                    <li>
                        <input type="checkbox" [id]="child.metaName" [name]="child.metaName" [formControlName]="child.id">
                        Attribut: {{child.displayNames.de}} ({{ child.metaName }}: {{attribute(child).ctrlType}})
                    </li>
                }
            }
            @case (RELATIONS) {
                <li>
                    <input type="checkbox" [id]="child.metaName" [name]="child.metaName" [formControlName]="child.id" (change)="relationsChange(child.id)">
                    Beziehung: {{child.displayNames.de}} ({{ child.metaName }})
                    @if (controlIsSelected(child.id)) {
                        <app-child-relation [child]="relation(child)" [formGroup]="getChildFormGroup(child.id)"></app-child-relation>
                    }
                </li>
            }
        }
    }
</ng-container>
