<div class="parent">
@if (classesReady | async) {
    @if (formSubmitted) {
        <app-export-files [selectedClass]="selectedClass!" [selectedProperties]="selectedProperties!"></app-export-files>
    } @else {
        <app-class-list [classes]="(classes | async)!" [notebooksReady]="(notebooksReady | async)!" (classSelected)="classSelected($event)"></app-class-list>
        @if (selectedClass) {
            <app-class-content [selectedClass]="selectedClass!" [selectedNotebook]="(selectedNotebook | async)!" (propertiesSelected)="propertiesSelected($event)"></app-class-content>
        }
    }
} @else {
    @if ((working | async) === false) {
        <app-login></app-login>
    }
}
</div>
@if ((working | async) === true)
{
    <span class="loader"></span>
}
