<section class="content">
    <div style="display: flex; justify-content: space-between;">
        <h3>Klasse</h3>
        <p>{{adonisStore.selectedClass()!.displayNames.de}} ({{adonisStore.selectedClass()!.metaName}})</p>
        <h3>Repository</h3>
        <p>{{adonisImportStore.selectedRepository()!.name}}</p>
        <h3>Objektgruppe</h3>
        <p>
            {{adonisImportStore.selectedObjectGroup()!.name}}
        </p>
    </div>

    @if (adonisImportStore.canImport() === true) {
      <section class="button-container">
        <button type="button" (click)="onImport()">Starte Import</button>
      </section>
    }
    <table class="table">
      <thead>
        <tr>
          <th style="padding:0;"></th>
          <th style="padding:0;">#</th>
          @for (column of tableStore.columnMapping(); track column; let i = $index) {
            <th
              [ngClass]="{ primary: getColumn(column)?.primary}"
              [attr.title]="getColumnTitle(column)"
              class="position-relative">
              {{getColumn(column)?.displayName}}
              @if (getColumn(column)?.primary === true) {
                <span class="visually-hidden">
                    Spalte hält den Primärschlüssel der Tabelle.
                </span>
              }
              @if (getColumn(column)?.unique === true) {
                <span class="visually-hidden">
                  Diese Tabelle muss eindeutige Werte enthalten.
                </span>
              }
            </th>
          }
        </tr>
      </thead>
      <tbody>
        @for (rowNumber of tableStore.rowNumbers(); track rowNumber) {
          <tr [ngClass]="{'position-relative': getRowContainsErrors(rowNumber) === true}">
            <td [attr.title]="getRowErrorDescriptions(rowNumber)">
              @if (getRowContainsErrors(rowNumber) === true) {
                <app-error-badge [errorDescription]="getRowErrorDescriptions(rowNumber)"></app-error-badge>
              } @else {
                @if (this.adonisImportStore.rowsWithExistingItems().includes(rowNumber) === true) {
                  <span class="edit">&#10000;</span>
                  <span class="visually-hidden">Objekt mit diesem Namen gefunden. Objekt wird geändert.</span>
                } @else {
                  <span class="new">+</span>
                  <span class="visually-hidden">Objekt wird neu erstellt.</span>
                }
              }
            </td>
            <td class="align-right">
              {{rowNumber}}
            </td>
            @for (column of tableStore.columnMapping(); track column; let i = $index) {
              <td
                [ngClass]="{error: getCellInformation(rowNumber, i)?.containsErrors || getCellContainsRowErrors(rowNumber, i) }"
                [attr.title]="getCellErrorMessages(rowNumber, i)()">
                {{getCellInformation(rowNumber, i)?.typedValue}}
              </td>
            }
          </tr>
        }
      </tbody>
    </table>

</section>