body {
    background-color: darkgray;
}

.parent {
    display: flex;

    .content {
        padding: 1rem;
    }

    button {
        width: 100%;
    }
}

.selected {
    outline: 4px solid black;
}

.form-control {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    button {
        width: 45%;
    }
}

.chapter {
    border: 2px solid black;

    li {
        list-style-type: none;
        padding: 0.25rem;
    }

    h3 {
        margin-block-start: 0.5rem;
        margin-block-end: 0.25rem;
    }
}

.group {
    border: 1px solid darkgray;

    li {
        list-style-type: none;
        padding: 0.25rem;
    }

    h4 {
        margin-block-start: 0.5rem;
        margin-block-end: 0.25rem;
    }
}

.xml-result {
    width: 50vw;
    height: 50vh;
}

.loader {
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    left: 50vw;
    top: 30vh;
    border-radius: 50%;
    border-collapse: separate;
    background: #000;
    animation: wave 1s ease-in infinite;
}

@keyframes wave {
    0% {
        box-shadow:
            0 0 0 0px rgba(255, 255, 255, 1),
            0 0 0 20px rgba(255, 255, 255, 0.2),
            0 0 0 40px rgba(255, 255, 255, 0.6),
            0 0 0 60px rgba(255, 255, 255, 0.4),
            0 0 0 80px rgba(255, 255, 255, 0.2)
    }

    100% {
        box-shadow:
            0 0 0 80px rgba(255, 255, 255, 0),
            0 0 0 60px rgba(255, 255, 255, 0.2),
            0 0 0 40px rgba(255, 255, 255, 0.4),
            0 0 0 20px rgba(255, 255, 255, 0.6),
            0 0 0 0px rgba(255, 255, 255, 1)
    }
}

.indicator {
    background-color: lightgray;
}

.yellow {
    background-color: yellow !important;
}

.red, .error {
    background-color: coral !important;
}

.green {
    background-color: green !important;
}
